{
  "$schema": "http://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": false,
  "endOfLine": "lf",
  "printWidth": 120,
  "bracketSpacing": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}